body {
    background-image: url(../images/clapper.jpg);
    background-size: cover;
    font-family: 'Bungee', cursive, 'Times New Roman', Times, serif;
}

.titleImageContainer {
    background: rgba(255, 255, 255, .8);
    border-bottom: 5px solid #000000;
    border-top: 5px solid #000000;
}

#start-game-text {
    text-align: right;
    font-size: 24px;
    color: rgb(216, 68, 68);
}

#current-word-text {
    text-align: right;
    color: #000000;
}

#word-placeholder {
    text-align: right;
    color: rgb(216, 68, 68);
}

.game-container-hints {
    border-bottom: 5px solid #000000;
    border-top: 5px solid #000000;
    background: rgba(255, 255, 255, 0.8);
}

#game-hints-header{
    text-align: center;
    color: #000000;
}
#game-hints-text {
    text-align: center;
    color: #000000;
}

#guessed-letters-text {
    text-align: right;
    color: #000000;
}

#wins-text {
    text-align: right;
    color: #000000;
}
#guessed-letters-header{
    text-align: right;
    color: #000000;
}

#remaining-guesses-text {
    text-align: right;
    color: #000000;
}

#game-over-text {
    text-align: center;
    font-weight: bold;
    color: rgb(216, 68, 68);
}
#refresh-text {
    text-align: center;
    font-weight: bold;
    color: rgb(216, 68, 68);
}


