body {
    background-image: url(../images/hypnotize.png);
}

.titleImageContainer .centerImg {
    display: block;
    margin: 20px auto;
    
}

#start-game-text {
    text-align: right;
    padding-top: 20px;
    padding-right: 40px;
}
#current-word-text {
    text-align: right;
    padding-right: 40px;
}

#word-placeholder {
    text-align: right;
    padding-right: 40px;
}

.game-container-hints {
    display: block;
    float: left;
    border: 7px dashed rgb(250, 82, 82, .7);
    margin: 0 auto;
    width: 400px;
    height: 400px;
    background: rgba(24, 24, 24, 0.5);
    margin-left: 250px;
}
.game-container-guesses {
    display: block;
    border: 7px dashed rgb(250, 82, 82, .7);
    float: right;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    background: rgba(24, 24, 24, 0.5);
    margin-right: 250px;
}
#game-hints-text {
    text-align: center;
    padding: 20px;
}

#guessed-letters-text {
    text-align: right;
    padding-right: 40px;
}

#wins-text {
    text-align: right;
    padding-right: 40px;
}
#guessed-letters-header{
    text-align: right;
    padding-right: 40px;
}

#remaining-guesses-text {
    text-align: right;
    padding-right: 40px;
}

#game-over-text {
    text-align: right;
    padding-right: 40px;
    font-weight: bold;
}
#refresh-text {
    text-align: right;
    padding-right: 40px;
    font-weight: bold;
}